body, header, main, section {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

body, header, main  {
    flex-direction: column;
    
}

body {
    background-color: cyan;
    
}